__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
dist/
build/
*.log
*.pot
*.pyc
*.pdb
*.egg
*.env
*.venv
*.pytest_cache/
*.coverage
*.mypy_cache/
*.tox/
*.coverage.*
*.hypothesis/
*.ipynb_checkpoints/
*.DS_Store
*.vscode/
*.idea/
**/exp/**/models/**/*
artefacts/*
src/adapt_weights/*
logs
bes
best_audio_model.pth
**/egs/vggsound/exp/**
*.pkl
archive/
